CREATE TABLE IF NOT EXISTS {{ meta_schema }}.{{ meta_table }} (
    target_schema VARCHAR NOT NULL,
    target_table VARCHAR NOT NULL,
    metafile_name VARCHAR NOT NULL,
    metafile_modified TIMESTAMP NOT NULL
)
