CREATE OR REPLACE SECRET aws_s3_secret (
    TYPE S3,
    KEY_ID {{ key_id | sqllit }},
    SECRET {{ secret | sqllit }},
    REGION {{ region | sqllit }}
{% if scope %}
    , SCOPE {{ scope | sqllit }}
{% endif %}
)
