INSERT INTO {{ meta_schema }}.{{ meta_table }} (target_schema, target_table, metafile_name, metafile_modified) VALUES
{% for f in files %}
({{ target_schema | sqllit }}, {{ target_table | sqllit }}, {{ f | sqllit }}, {{ metafile_modified | sqllit }}){{ "," if not loop.last else "" }}
{% endfor %}
