CREATE TABLE IF NOT EXISTS {{ meta_schema }}.{{ meta_table }} (
    target_schema VARCHAR NOT NULL,
    target_table VARCHAR NOT NULL,
    file_path VARCHAR NOT NULL,
    loaded_at TIMESTAMP DEFAULT now()
)
