{% import 'macros.sql.j2' as m %}
{% if full_refresh %}
CREATE OR REPLACE TABLE {{ schema }}.{{ table }} AS
{{ m.source_select(file_format, files, metafile_modified) }}
{% else %}
CREATE TABLE IF NOT EXISTS {{ schema }}.{{ table }} AS
{{ m.source_select(file_format, files, metafile_modified) }} LIMIT 0
{% endif %}
