{% macro reader(file_format, files) -%}
{%- if file_format == 'parquet' -%}
read_parquet([{{ files | map('sqllit') | join(', ') }}], filename=true)
{%- elif file_format == 'csv' -%}
read_csv([{{ files | map('sqllit') | join(', ') }}], header=true, auto_detect=true, filename=true)
{%- elif file_format == 'json' -%}
read_json_auto([{{ files | map('sqllit') | join(', ') }}], filename=true)
{%- endif -%}
{%- endmacro %}

{% macro source_select(file_format, files, metafile_modified) -%}
SELECT * RENAME (filename AS metafile_name), '{{ metafile_modified }}'::TIMESTAMP AS metafile_modified
FROM {{ reader(file_format, files) }}
{%- endmacro %}
